{% extends 'base.html' %}
{% block content %}
<div style="margin-left:50px;">
    <h1>Описание проекта:</h1>
    <p><i>Словарь, в который каждый желающий может добавить слово, его определение, примеры, и поставить лайк/дислайк добавленным определениям.</i></p>

    <ol><h2>Задачи:</h2>
        <li>База данных с полями (<i>Лера</i>) -- слово, определение, пример, метаинфа про добавившего (ник, город, дата)</li>
        <li>Веб-интерфейс (<i>Наташа, Эдуард</i>), где есть:
            <ul>
                <li>функция поиска (если слово есть, то выдаёт список всех имеющихся для него определений; если слова нет, то отсылает к форме добавления слова, где есть поля 'слово|определение|пример|ник|город|дата', когда мы сделаем авторизацию, то метаинфа будет сохраняться автоматически)</li>
                <li>функция добавления слова в базу данных: проверяет, есть ли слово в БД, если нет, то добавляет все поля 'слово|определение|пример|ник|город|дата'; если слово есть в БД, то добавляются поля 'определение|пример|ник|город|дата'</li>
                <li> Возможность авторизации пользователей </li>
            </ul>
        </li>
        <li>список слов с определениями и с примерами (<i>Настя, Тимур</i>) для последующего добавления в словарь.</li>
    </ol>

    <ul><h2>В планах:</h2>
        <li>Возможность ставить лайки и дислайки определениям.</li>
        <li>Счётчик лайков и дислайков.</li>
        <li>Сортировка по популярности для определений одного слова.</li>
    </ul> 
        <ul><h2>На какие моменты мы хотели бы получить реакцию рецензента?</h2>
        <li>Достаточно ли мы собираем метаинфы (ник, город, дата)?</li>
        <li>Нужны ли тэги -- "сленг", "мат", "диалект", "заимствование" и т.д.?</li>
        <li>Нужна ли возможность ставить дизлайки определениям, или достаточно лайков? или другая система поощрения будет более адекватной?</li>
        <li>Нужна ли опция поиска по алфавиту, поиска по популярности поиска?</li>
        <li>Нужна ли цензура того, что добавляют пользователи? (например, можно удалять определения, не набравшие ни одного лайка; ввести стоп-слова и т.п.)</li>
    </ul>

    <h2>Заранее большое спасибо за комментарии!</h2>
    <br/><br/>
</div>

{% endblock %}
